<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Student</title>
</head>
<body>
<h1>Delete Student</h1>
<p>Are you sure you want to delete this student?</p>
<form method="post" th:action="@{/students/delete}">
    <input type="hidden" name="studentId" th:value="${student.studentId}">
    <button type="submit">Delete</button>
</form>

<a href="/students">List Students</a>
<a href="/students/register">Register Student</a>


</body>
</html>
