<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
</head>
<body>
<h1>Edit Student</h1>
<form th:object="${student}" method="post" th:action="@{/students/update}">
    <!-- Form fields for editing student data -->
    <input type="hidden" th:field="*{studentId}">
    <input type="text" id="studentNumber" th:field="*{studentNumber}" required>
    <input type="text" id="firstName" th:field="*{firstName}" required>
    <input type="text" id="middleName" th:field="*{middleName}">
    <input type="text" id="lastName" th:field="*{lastName}">
    <input type="text" id="cgpa" th:field="*{cgpa}" required>
    <select id="isInternational" name="isInternational" th:field="*{isInternational}"  required>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select>


    <button type="submit">Save Changes</button>
</form>
<a href="/students">List Students</a>
<a href="/students/register">Register Student</a>

</body>
</html>
